<div class="panel panel-success">
  <p id="notice"><%= notice %></p>
  
  <%= link_to 'Back', pins_path %>

  <br />
    
  <div class="panel-heading text-center">
    <h2><strong><em><%= @pin.description %></em></strong></h2>
  </div>

  <br />
  
  <div class="panel-body text-center">
    <%= image_tag @pin.image.url(:medium) %>
    <br />
    <br />
    <em>by</em>
    <br />
    <h4><%= @pin.user.email if @pin.user %></h4>
  </div>

  <div class="clr"></div>
  
  <div class="panel-footer">
    <% if @pin.user == current_user %>
      <%= link_to edit_pin_path(@pin) do%>
        <span class="glyphicon glyphicon-pencil"></span> Edit
      <% end %>
    <% end %>
  </div>
</div>
